@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
background-image: linear-gradient(to bottom right, #eff6ff, #e0e7ff);
 
}

*{
  transition: all 350ms ease-out;

}

th,tr,td{
  border-width: 1px;
  padding:20px
}
 .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

.no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  html {
  scroll-behavior: smooth;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}